.contact{
    background-image: url(../../img/contact-us.png);
    background-position: center;
    background-size: cover;
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    flex-wrap: wrap;
    gap: 30px 0;
    text-align: center;
    padding: 6em 0;
    color: #fff;
}

.grow > h1 {
    text-align: center;
}
