.numbers {
    background-image: url(../../img/numbers-forest.webp);
    display: flex;
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    flex-wrap: wrap;
    gap: 30px 0;
    text-align: center;
    padding: 6em 0;
    color: #fff;
}
.numbers > .thousand {
    width: 25%;
}
.numbers > .thousand > .value {
    font-size: 60px;
}
.numbers > .thousand > .label {
    font-size: 14px;
    text-transform: uppercase;
}

@media (max-width: 700px) {
    .numbers > .thousand {
        width: 50%;
    }
}