.subscribe {
    background-image: url(../../img/subscribe/newsletter-background.webp);
    background-position: center;
    background-size: cover;
}

.form > a {
    color: rgb(28, 185, 200);
}

.form > input {
    background-color: #fff;
    border: solid #fff;
    font-size: 16px;

}