/* base */
@import '../base/base.css';
@import '../base/layout.css';
@import '../components/navbar.css';
/* 3rd-party */
@import '../3rd-party/fontRobotoSlab.css';
/* components */
@import '../components/global-article.css';
@import '../components/numbers.css';
@import '../components/button.css';

/* CUSTOM STYLE BELOW THIS COMMENT LINE */

/* banner: start */
/* banner: end */

/* about: start */
/* about: end */

/* services: start */
.services-container {
    min-height: 1035px;
    padding: 120px 0 105px;
    background-image: url(../../img/our-services/shape-1-1.webp);
    background-position: center center;
    background-size: cover;
    display: inline-block;
    width: 100%;
}
.services-container > .services-row {
    display: block;
    width: 100%;
    margin-bottom: 0;
}
.services-block {
    display: block;
    width: 456px;
    height: 227px;
    background-color: #fff;
    float: left;
    margin-top: 20px;
}
.ml-block-1,
.ml-block-2,
.ml-block-3,
.ml-block-4,
.ml-block-5,
.ml-block-6,
.ml-block-7,
.ml-block-8
{
    /* display: block; */
    margin-left: calc((100% - 456px) / 2);    
}
.services-block > .img {
    width: 68px;
    height: 65px;
    margin: 20px 20px;
}
.services-block > .head {
    font-family: RobotoSlab;
    font-size: 24px;
    padding: 10px 20px;
    text-transform: capitalize;
}
.services-block > .txt {
    font-family: DMSans;
    font-size: 16px;
    padding: 20px;
}
.services-container > .serv-btn {
    display: block;
    float: left;
    width: 100%;
    margin-top: 20px;
    text-align: center;
}
@media (min-width: 768px) {
    .services-block {
        display: block;
        width: 336px;
        height: 255px;
    }
    .ml-block-1,
    .ml-block-3,
    .ml-block-5,
    .ml-block-7
    {
        display: block;
        margin-left: calc(50% - 336px - 10px );
    }
    .ml-block-2,
    .ml-block-4,
    .ml-block-6,
    .ml-block-8
    {
        display: block;
        margin-left: 20px;
    }
}
@media (min-width: 992px) {
    .services-block {
        display: block;
        width: 298px;
        height: 259px;
    }
    .ml-block-1,
    .ml-block-4
    {
        display: block;
        margin-left: calc(50% - 298px * 3 / 2 - 20px );
    }
    .ml-block-2,
    .ml-block-3,
    .ml-block-5,
    .ml-block-6,
    .ml-block-8
    {
        display: block;
        margin-left: 20px;
    }
    .ml-block-7
    {
        display: block;
        margin-left: calc(50% - 298px - 10px);
    }
}
@media (min-width: 1200px) {
    .services-block {
        display: block;
        width: 261px;
        height: 323px;
    }
    .ml-block-1,
    .ml-block-5
    {
        display: block;
        margin-left: calc(50% - (261px * 2) - (20px * 3 / 2) );
    }
    .ml-block-4,
    .ml-block-7
    {
        display: block;
        margin-left: 20px;
    }
}
@media (min-width: 1300px) {
    .services-block {
        display: block;
        width: 300px;
        height: 261px;
    }
    .ml-block-1,
    .ml-block-5
    {
        display: block;
        margin-left: calc(50% - (300px * 2) - (20px * 3 / 2) );
    }
}
@media (min-width: 1400px) {
    .services-block {
        display: block;
        width: 312px;
    }
    .ml-block-1,
    .ml-block-5
    {
        display: block;
        margin-left: calc(50% - (312px * 2) - (30px * 3 / 2) );
    }
    .ml-block-2,
    .ml-block-3,
    .ml-block-4,
    .ml-block-6,
    .ml-block-7,
    .ml-block-8
    {
        display: block;
        margin-left: 30px;
    }
}
    /* services: end */

/* why us: start */
/* why us: end */

/* working process: start */
.working-proc-section {
    width: 100%;
    /* height: 600px; */
    padding-top: 120px;
    padding-bottom: 120px;
    background-color: #F6FCFD;
}
.working-proc-section > .pictures {
    width: 100%;
    /* height: 222px; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;

}
.working-proc-section > .pictures > .block {
    width: 200px;
    height: 180px;
    background-image: url(../../img/working-process/bgn-picture.png);
    background-position: center;
    background-size: contain;
    position: relative;
    text-align: center;
}
.working-proc-section > .pictures > .process-img {
    width: 129px;
    height: 28px;
    margin-top: 60px;
    display: block;
}
.working-proc-section > .pictures > .block> .block-img {
    display: block;
    margin-left: 74px;
    margin-top: 40px;
    width: 56px;
    height: 56px;
}
.working-proc-section > .pictures > .block > .block-txt {
    display: block;
    font-size: 22px;
    font-family: RobotoSlab;
    color: #fff;
}
.working-proc-section > .pictures > .block > .block-num {
    font-size: 16px;
    font-family: DMSans;
    position: absolute;
    color: #fff;
    bottom: 10px;
    left: 118px;
}
@media (max-width: 1400px) {
    .working-proc-section > .pictures .process-img {
        display: none;
    }
    .working-proc-section > .pictures {
        gap: 100px;
    }
}    
@media (max-width: 1200px) {
    .working-proc-section > .pictures {
        gap: 50px;
    }
}    
@media (max-width: 992px) {
    .working-proc-section > .pictures {
        gap: 30px 200px;
    }
}
@media (max-width: 768px) {
    .working-proc-section > .pictures {
        gap: 30px 100px;
    }
}
@media (max-width: 576px) {
    .working-proc-section > .pictures > .block {
        margin-left: 10px;
        margin-right: 10px;
    }
}
/* working process: end */

/* our project: start */
/* our project: end */

/* Numbers: start */
/* Numbers: end */

/* Reviews: start */
/* Reviews: end */

/* Contact: start */
/* Contact: end */

/* Blogs: start */
/* Blogs: end */

/* Subscribe: start */
/* Subscribe: end */


/* footer: start */
/* footer: end */
